* {
    font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;


}

.grey { 
    width: 100%;
    height: 35px;
    background-color: #D9D9D9;
    
}

.nav {
    display: flex;
    flex-direction: column;
    
}

.nav-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-content img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#img-logo {
    position: relative;
    left: 5%;
    height: 150px;
}


#search {
    padding-left: 10px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    font-size: 12px;
    justify-content: space-evenly;
    

    
}

.menu li a {
    text-decoration: none !important;
    color: inherit
}

.menu-list {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
   
}
#tab-mobile-nav {
    display: none;
}


.grey-2 {
    width: 100%;
    height: 40px;
    background-color: #D9D9D9;   
    font-size: 12px;
    display: flex;
    justify-content: center;
   
}

.grey-2 p {
    padding-top: 0.1%;
    font-weight: bold;
}
.search-bar {
    border: 2px solid;
    border-radius: 7px;
    border-color: black;
    width: 830px;
    height: 34px;
    background: transparent;
    margin-top: 8.8%;
    display: flex;
    align-items: center;
    gap: 1%;
}
.search-input{
    border: 0;
    width: 90%;
    outline: none;
}

.search-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3.5%;
    height: 40%;

}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    
 }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid black;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
    left: 40px; 
}

input:checked + .slider:before {
    -webkit-transform: translateX(-40px); 
    -ms-transform: translateX(40px);
    transform: translateX(-40px);
    background: rgb(255,255,0, 0.6);
}
  
input:checked + .slider {
    background-color: transparent;
    
}
  
input:focus + .slider {
    box-shadow: 0 0 1px black;
}
  



.slider.round {
    border-radius: 34px;
    
}
  
.slider.round:before {
    border-radius: 50%;
    
    
}

.help img {
    width: 30px;
    height: 30px;
    margin-left: 0;
}

.help {
    display: flex;
    margin-top: 6%;
    margin-left: 10%;
}

.help p {
    padding-left: 6px
}

.light-switch-help {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10%;
    
}


.switch-body {
    margin-top: 10px;
}


.layout {
    color: #FFF;
    position: relative;
    width: 100%;
    height: 238px;
    top: 28px;
    background: url(assets/deals-layout.png);
    

}

.layout-text {
    font-size: 25px;
    padding-left: 100px;
    
}
.layout-title{
    font-size: 40px;
    color: white;
}
#layout-title {
    font-size: 18px;
    margin-top: -18px;
    color: white;
}
.buttons-buttons {
    padding-left: 100px;
    margin-top: 45px;

}
.buttons-buttons button{
    margin-right: 20px;
}
#button-homepage-1 {
    background-color: white;
    color: #000;
    font-weight: 700;
    border-color: transparent;
    border-radius: 20px;
    width: 154px;
    height: 31px;
    
    
}

#button-homepage-1:hover {
    background-color: #000;
    color: #FFF;
    font-weight: 700;
    border-color: transparent;
    border-radius: 20px;
    width: 154px;
    height: 31px;
}


.gallery h1 {
    margin: 1.5%;
    position: relative;
    top: 28px;
    font-size: 25px;
}
#pp {
    margin-left: 1.5%;
    position: relative;
    top: 28px;
    font-size: 12px;
}

.galler-box {
    width: 80%;
    display: flex; 
    flex-wrap: wrap;
    margin-left: 1.5%;
    margin-top: 3%
}

.galler-box div img:nth-child(1) {
    width: 169px;
    height: 169px;
}

.galler-box-1, .galler-box-2, .galler-box-3, .galler-box-4 {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.galler-text {
    margin-top: 3%;
    width: 169px;
}

.galler-text p {
    margin-top: 2px;
}
.desc{
    font-size: 10px;
}
.boldtitle {
    font-size: 12px;
    font-weight: bold;
}

footer {
    font-size: 10px;
    width: 100%;
}
.footer-container {
    display: flex;
    background-color: #d3d3d3; 
    color: #000; 
    padding: 10px;
    

}

#logoo {
    width: 120px;
    height: 70px;
}
.logo-contact {
    display: flex;
}
.logo-contact p {
    margin-top: 32px;
    margin-left: 30px;
  
}        

#phone {
    width: 41px;
    height: 39px;

}

.phone-container {
    display: flex;
   
}

.phone-container img {
    margin-top: 5px; 
    margin-left: 10px;
    
}

.phone-container p {
    margin-left: 11px
}
#message {
    margin-left: 15px;

}


.message {
    display:flex;

}

.message p {
    margin: 9px;

}

#coins {

    margin-left: 21px;
}

.coins {
    display:flex;
    
}


.coins p {
    margin-right: 19px;
    margin-left: 3px;

}

#human {
    margin-left: 18px;

}

.human {
    display:flex;
    
}


.human p {
    margin-right: 20px;
    margin-left: 7px;
    margin-top: 6px;

}

#handshake {

    margin-top: 4px;

}

.handshake-top {
    margin-left: 100px;
}

.handshake {
    display:flex;
    
}


.handshake p {
    margin-right: 20px;
    margin-left: 7px;

}

#phone, #message, #coins, #human, #handshake {
    width: 30px;
    height: 30px;
}

.coins-top{
    margin-left: 90px;
}

.assets-contacts-top {
    margin-left: 20px;
}

.menu li a:hover {
    text-decoration: none !important;
    color: inherit;
    border-bottom: 1px solid black;
}
@media (max-width: 1440px) {
    .search-bar {
        width: 630px;
    }
    .menu {
        font-size: 10px;
        
    }
    .menu-list {
        width: 100%;
        justify-content: center;
        gap: 5px;

    }
    #img-logo {
        height: 100px;
    }
    .menu-list {
        width: 90%;
    }
    .gallery{
        width: 100%;
    }
    .galler-box{
        width: 100%;
        justify-content: center;
        gap: 25px;
    }
    .gallery h1{
        margin-bottom: 20px;
    }
    .customs-box{
        display: none;
    }
    .galler-box-5{
        display: flex;
        flex-direction: column;
        margin: 15px 5px 15px 5px;
    }
    .galler-box-1, .galler-box-2, .galler-box-3, .galler-box-4 {
        display: flex;
        flex-direction: column;
        margin: 15px 0px 15px 0px;
    }
    }
@media (max-width: 1020px) {
        .search-bar {
            width: 430px;
        }
        .menu {
            font-size: 7px;
            
        }
        .layout{
            height: 188px;
            top: 28px;
        }
        #img-logo {
            height: 75px;
        }
        .menu-list {
            width: 100%;
            justify-content: center;
            gap: 5px;

        }
        .layout-title{
            font-size: 23px;
        }
        #layout-title{
            font-size: 16px;
            margin-top: 18px;
        }
        #pp{
            font-size: 13px;
            margin-right: 5%;
            margin-bottom: 30px;
        }
        .gallery h1{
            font-size: 15px;
        }
        .grey-2{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .grey-2 p {
            font-size: 8px;
        }
        .galler-box {
            width: 100%;
            display: flex; 
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0.5%;
            margin-top: 3%
        }
        
        .galler-box div img:nth-child(1) {
            width: 157px;
            height: 138px;
        }
    }
    @media (max-width: 880px) {
        .search-bar {
            width: 130px;
        }
        
        #img-logo {
            height: 75px;
            margin-top: 10px;
        }
        .search-menu{
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            margin: 30px 0 30px 0;
            align-items: center;
            justify-content: center;
        }
        #tab-mobile-nav{
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 10px;
            margin-top: 8.8%;
        }
        .galler-box{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        .footer-container{
            gap: 0;
            justify-content: start;
        }
        #logoo {
            width: 120px;
            height: 70px;
            margin-left: 20px;
        }
        .logo-contact p {
            margin-top: 32px;
            margin-left: 20px;

        }        
        .assets-contacts-top, .coins-top, .handshake-top {
            margin: 0;
            display: none;
        }
        .assets-contacts-top p, .coins-top p, .handshake-top p{
            margin: 0;
            display: none;
        }
        .menu {
            display: none;
        }
        .menu-list {
            display: none; 
            margin-bottom: 30px;
        }
        .buttons-buttons {
            margin-top: 25px;
            
            
           
        }
        .footer-container{
            gap: 0;
            justify-content: center;
            align-items: center;
        }
        .logo-contact p{
            background: #000;
            border-radius: 20px;
            font-size: 15px;
            font-weight: bold;
            padding: 15px;
            color: #FFF;
            margin-top: 12px;
            margin-left: 20px;

        }
        .logo-contact p:hover{
            background: #fff;        
            color: #000;
        }
        #button-homepage-1 {
            background-color: white;
            color: #000;
            font-weight: 700;
            border-color: transparent;
            border-radius: 20px;
            width: 104px;
            height: 31px;
            
            
        }
        
        #button-homepage-1:hover {
            background-color: #000;
            color: #FFF;
            font-weight: 700;
            border-color: transparent;
            border-radius: 20px;
            width: 104px;
            height: 31px;
        }


    }
    @media (max-width: 526px) {
        .search-bar {
            width: 130px;
        }
        .layout-title{
            font-size: 20px;
        }
        #layout-title{
            font-size: 14px;
            margin-top: 18px;
        }
        #img-logo {
            height: 75px;
            margin-top: 10px;
        }
        .search-menu{
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            margin: 30px 0 30px 0;
            align-items: center;
            justify-content: center;
        }
        #tab-mobile-nav{
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 10px;
            margin-top: 8.8%;
        }
        .gallery{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .galler-box{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        .footer-container{
            gap: 0;
            justify-content: center;
            align-items: center;
        }
        .logo-contact p{
            background: #000;
            border-radius: 20px;
            font-size: 15px;
            font-weight: bold;
            padding: 15px;
            color: #FFF;
            margin-top: 12px;
            margin-left: 20px;

        }
        .logo-contact p:hover{
            background: #fff;        
            color: #000;
        }
        #logoo {
            width: 120px;
            height: 70px;
            margin-left: 20px;
        }
        .assets-contacts-top, .coins-top, .handshake-top {
            margin: 0;
            display: none;
        }
        .assets-contacts-top p, .coins-top p, .handshake-top p{
            margin: 0;
            display: none;
        }
        .menu {
            display: none;
        }
        .menu-list {
            display: none; 
            margin-bottom: 30px;
        }
        .help{
            display: none;
        }
        .nav-content {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 40px;
        }
        .buttons-buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 175px;
            
        }
        .layout{
            height: 258px;
            margin-bottom: 20px;
        }
    }